*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    background-color: black;
    color: white;
}

button{
    background-color: #4a4a4a;
    color: white;
    padding: .35rem;
    border: 0;
    border-radius: 5px;
}

header section.buttons{
    margin: 10px 7px 0 0;
    text-align: right;
}

.user-icon{
    position: relative;
    margin-right: .5rem;
    overflow-y: auto;
}

.users{
    margin: 5rem;
}

.nickname{
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #65727c;
    padding: .35rem;
}

footer{
    background-color: #222222;
}

.left-footer{
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    
    flex-direction: column;
}

footer div.icon i{
    font-size: 2rem;
}

footer div.icon i.fa-angle-up{
    font-size: 1rem;
    align-self: center;
}

footer section div.icon{
    display: flex;
    flex-direction: column;
    padding: .75rem .5rem;
    font-size: 0.8rem;
    justify-content: center;
}